.Help {
  background-color: #585858;
  border: 1px solid #727272;
  border-radius: 50px;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  user-select: none;
  cursor: default;
}
