.Languages {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  gap: 5px;

  list-style: none;

  .Language {
    cursor: pointer;
  }
}
