@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  background-color: #1d1d1d;
  color: white;
  background-image: url('/plus.svg');
  background-position: 5px 5px;
}

a {
  color: #45a2ff !important;
}
