.SearchEntry {
  border: 1px solid #535353;
  border-radius: 6px;
  background-color: #282828;
  list-style: none;

  .GithubMark {
    float: right;
  }

  .Content {
    background-color: #373738;
    padding: 0.5rem;
    border-radius: 6px 6px 0 0;
  }

  hr {
    border: none;
    border-top: 1px solid #404041;
    border-radius: 4px;
    margin: 0;
  }
}
